.App {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  min-height: 100vh;
}

form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card_ {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.card_ p {
  line-height: 0;
}