* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results {
  color: white;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form * {
  border: none;
  padding: 5px;
  height: 25px;

}

.form *:focus {
  outline: 1px solid gray;
}

button {
  text-transform: uppercase;
}
