* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
}


button {
    background: #007cff;
    height: 24px;
    font-size: 12px;
    padding: 0 5px;
    border: none;
    line-height: 100%;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #04376d;
}

.wrapper {
    width: 100%;
    max-width: 710px;
    display: flex;
    justify-content: inherit;
    flex-direction: inherit;
    align-items: inherit;
    margin-left: auto;
    margin-right: auto;
    gap: inherit;
    flex-wrap: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

.logo__text {
    font-size: 13px;
}

.landing {
    background-image: url(https://images.pexels.com/photos/1435752/pexels-photo-1435752.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    min-height: 51vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.title {
    color: white;
    text-align: center;
    max-width: 550px;
    font-size: 31px;
    font-weight: normal;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    color: lightgrey;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    width: 290px;
}

.form__button {
    padding: 0 25px;
    font-size: 14px;
    height: 35px;
}


.gallery {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 90px;
    flex-wrap: wrap;
}

.card {
    align-items: center;
    flex-flow: column;
    text-align: center;
    display: flex;
    width: 200px;
}

.card > i {
   color: #007cff;
   font-size: 3em;
   line-height: 100%;
   margin-bottom: 14px;
}

.card__title {
    font-size: 16px;
    margin-bottom: 10px;
}

.card__text {
    color: lightslategray;
    font-size: 12px;
    line-height: 150%;
}