* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif, sans-serif;
}

:root {
    --green-color: rgb(22, 160, 133);
    --red-color: rgb(215, 41, 42);
}

header {
    width: 100%;
    background: #000;
    padding: 10px 100px;
    font-size: 10px;
}

.logo {
   color: white;
}


.menu {
    float: right;
    display: flex;
    gap: 20px;
}


.menu__link {
    
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}